.cabeçalho{background-color: #fae0ec; color: rgb(252, 179, 205); display: flex; justify-content: space-around;}
.imagem-logo{width: 20%;}
.cabeçalho-lista{display: inline-block; margin: 0 16px;}
.site{background-color:whitesmoke; color:blueviolet(131, 92, 48);}
.imagem-cardápio{width: 180 px; height: 130px ;}
.rodape{background-color: blueviolet; color:beige; display: flex; justify-content:space-around;} 
.cardápio-div{display: inline-block;}
.cardápio{text-align: center; font-weight: 700; font-size: 20px;}
.cardápio{text-align:center;}
.rodape{background-color:blanchedalmond}
.Docinhos-docinho{width: 180 px; height: 500px ;}